body{
	padding: 10px;
}
.col-sm-6{
	margin-left:150px; 
}
.col-sm-6>h4{
	padding: 20px;
}
.list-group{
	margin-top: 10px ;
}
li:hover{
	cursor: pointer;
}
.btn{
	float: left;
}
img{
	max-width: 150px;
	max-height: 150px;
}
select{
	border: none;
	background-color: #e7e7e7;
}